<% if (locals.user) { %>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #657F4B;">
    <div class="container-fluid">
      <a class="navbar-brand"><img src="./img/logo.png" alt="" width="65px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/" style="color: #181513; font-family: 'Arial', sans-serif; font-size: 17px;">Главная</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/map" style="color: #181513; font-family: 'Arial', sans-serif; font-size: 17px;">Интерактивная карта</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/entries" style="color: #181513; font-family: 'Arial', sans-serif; font-size: 17px;">Новости</a>
          </li>
      </ul>
      
      </div>
      <div>
      <!-- <a
        type="button"
        class="btn btn-primary me-2"
        href="/post_entry"
        aria-current="page"
        style="
          border: 2px #355E3B solid;
          color: #ffffff;
          background-color: #355E3B;
        "
        >Новый пост</a
        > -->
        <span class="name" style="color: rgb(255, 255, 255)"
          ><%= locals.user.email %></span
        >
      <a
        type="button"
        class="btn btn-primary"
        href="/logout"
        style="background-color: #355E3B; border: 2px #355E3B solid"
        >Выход</a
      >
    </div>
  </div>
</nav>
<% } else { %>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #657F4B;">
    <div class="container-fluid">
      <a class="navbar-brand"><img src="./img/logo.png" alt="" width="65px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/" style="color: #181513; font-family: 'Arial', sans-serif; font-size: 17px;">Главная</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/map" style="color: #181513; font-family: 'Arial', sans-serif; font-size: 17px;">Интерактивная карта</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/entries" style="color: #181513; font-family: 'Arial', sans-serif; font-size: 17px;">Новости</a>
          </li>
      </ul>
      
      </div>
    </div>
  </nav>
<% } %>
